*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid limegreen !important;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Karla", sans-serif;
    /* font-family: "Work Sans", sans-serif; */
    font-family: "Segoe UI", sans-serif;
    /* background-color: aqua; */
    margin: 0;
    padding: 0;
}

/* .navbar */
nav{
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid #000;
    padding: 0 20px;
    display: flex; 
    font-weight: 500;
    /* overflow: auto; */
    justify-content: space-between;
    align-items:center;
    padding-right: 100px;
    background-color: aqua;
}

li:first-child{
    /* align-items: flex-start; */
    /* padding: 5px 0 0; */
    /* background-color: yellow; */
    /* color: aqua; */
    
}

ul{
    /* padding: 0; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

li a {
    text-decoration: none;
    /* padding: 1px 10px; */
  margin: 1px 25px;
}

.bigbox{
    /* display: flex; */
    /* position: absolute;  */
    width: 90vw;
    height: 100vh;
    /* background-color:yellow; */
    margin: 0 auto;
    padding-top: 2rem;
}

.innerbox{
    /* position: absolute; */
    display: flex; 
    width: 90%;
    height: 90%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.textbox{
    flex: 2;
    /* background-color:lime; */
    margin: 0 auto;
}
.textbox h1{
    padding: 50px 50px;
    /* background-color:blue; */
    font-size: 2.5rem;
    /* font-weight: 500; */
}

.svgbox{
    flex: 2;
    /* background-color:brown; */
    margin: 0 auto;
}


svg{
    /* fill: aqua; */

}



.bigbox2{
    /* display: flex; */
    /* position: absolute;  */
    width: 90vw;
    height: 100vh;
    /* background-color:yellow; */
    margin: 10px auto;
    /* padding-top: 2rem; */
}

.innerbox2{
    /* position: absolute; */
    display: flex; 
    width: 90%;
    height: 90%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.textbox2{
    flex: 2;
    /* background-color:lime; */
    margin: 0 auto;
}
.textbox2 h1{
    padding: 50px 50px;
    /* background-color:blue; */
    font-size: 2.5rem;
    /* font-weight: 500; */
}

.svgbox2{
    flex: 2;
    /* background-color:brown; */
    margin: 0 auto;
}

.sponsorDiv{
    width: 90vw;
    height: 100vh;
    /* background-color:purple; */
    margin: 10px auto;
    padding-top: 2rem;   
}