/* #0071f2 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: #330351; */
    /* outline: 1px solid limegreen !important; */

}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Karla", sans-serif;
    /* font-family: "Work Sans", sans-serif; */
    font-family: "Segoe UI", sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    color: #330351;

    /* color: #1a0627; */
    /* background-color: lightgrey; */
    /* background: rgb(177,175,175); */
    /* background: rgb(246, 255, 255); */
    background: rgb(233, 247, 252);
/* background: linear-gradient(341deg, rgba(177,175,175,1) 2%, rgba(110,108,109,1) 67%); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
/* color: #b440fc; */

    /* background-image: url("svg\ files/poddle.svg"); */
    /* background-color: #595a5b9b; */

    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    /* width: 100vw; */
    background-position: center;    /* for responsive layout*/    
}

/* .navbar */
nav{
  /* font-family: 'Nunito', sans-serif; */
    width: 100%;
    height: 4rem;
    border-bottom: 2px solid #000;
    padding: 0 20px;
    display: flex; 
    font-weight: 500;
    /* overflow: auto; */
    justify-content: space-between;
    align-items:center;
    padding-right: 100px;
    background-color: #dba5fc;
    background-color: #fff;
    background-color: #45016f;
    color: #fff;
    outline: none;
    box-shadow: none;
    border-bottom-width: 0.1px;
}

nav .logo{
    /* font-family: 'Gruppo', cursive; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.logo a{
    color: #fff;
    text-decoration: none;
}

.pangolin-icon{
    /* width:100%;  */
    height:4.1rem;
}

nav a:hover{
    color: #ba5bf5;
}

li:first-child{
    /* align-items: flex-start; */
    /* padding: 5px 0 0; */
    /* background-color: yellow; */
    color: #00ffaa;
    
}

ul{
    /* padding: 0; */
    list-style: none;
    display: flex;
    justify-content: flex-end;
    /* align-items: flex-end; */
}

li a {
    text-decoration: none;
    /* padding: 1px 10px; */
    margin: 1px 25px;
    color: #fff;
    /* color: rgb(0, 255, 170); */
}

section{
    /* background-color  */
}

.parent-intro{
    width: 90vw;
    height: 7vh;
    /* background-color:yellow; */
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: center;
    margin-top: 2rem;
}

.pangolin-intro{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    /* text-shw: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
}

.pangolin{
    color: #ac29fe;
}

.bigbox{
    
    /* background-size: cover; */
    /* height: fit-content; */


    /* display: flex; */
    /* position: absolute;  */
    width: 90vw;
    height: 85vh;
    /* background-color:greenyellow; */
    margin: 0 auto;
    padding-top: 2rem;
    /* padding-bottom: 5rem; */
}

.innerbox{
    /* position: absolute; */
    display: flex; 
    width: 90%;
    height: 90%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.textbox{
    /* font-weight: 900;
  font-size: 5rem; */
    flex: 2;
    position:relative;
    left: 60px;
    /* background-color:lime; */
    margin: 0 auto;
}
.textbox h1{    
    /* font-family: Graphik Web,Arial,Helvetica,sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    /* font-family: 'Nunito', sans-serif; */
    /* font-family: arial; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    padding-top: 45px;
    text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202);

    /* background-color:blue; */
    /* font-size: 2.5rem; */
    /* font-weight: 500; */
}

.textbox h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 2rem;
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
}

.svgbox{
    background-image: url("svg\ files/poddle.svg");
    background-size: 32rem;
    z-index: -1;
    /* display: flex; */
    /* width: 50vw;
    height: 50vh; */
    /* margin-left: 5rem; */
    /* padding-left: 5rem; */
    /* background-color: #00ffaa; */
    background-repeat: no-repeat;
    position:relative;
    right: 30px;
    flex: 2;
    margin: 0 auto;
}

.svgbox img{
    width:100%; 
    height:110%;
    position: relative;
        top: -30px;
    /* padding-left: 5rem; */
}



button {
margin-top: 2rem;
display: inline-block;
outline: 0;
border: 0;
cursor: pointer;
border-radius: 0.5rem;
padding: 14px 15px 16px;
/* font-size: 18px; */
/* font-weight: 400; */
letter-spacing: 2px;
line-height: 1.3;
transition: transform 200ms,background 200ms;
/* background: transparent; */
background-color: #ac29fe;

color: #fff;
/* color: #000000; */
/* box-shadow: 0 0 0 3px #ac29fe inset; */
/* box-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */

}

button:hover{
background-color: #ac29fe;
background-color: #dba5fc;
box-shadow: 0 0 80px rgba(172, 83, 186, 0.976), 0 0 32px rgb(148, 94, 182);


color: #000;
color: #330351;

    /* transform: translateY(-2px); */
    transition: color .15s ease-in,background-color .15s ease-in,border-color .15s ease-in,box-shadow .15s ease-in;
}





.bigbox2{
    /* display: flex; */
    /* position: absolute;  */
    width: 90vw;
    height: 65vh;
    /* background-color:yellow; */
    margin: 10px auto;
    /* padding-top: 2rem; */
}

.innerbox2{
    /* position: absolute; */
    display: flex; 
    width: 90%;
    height: 90%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.svgbox2{
    flex: 2;
    /* background-color:brown; */
    margin: 0 auto;
    /* position:relative; */
    /* right: 70px; */
    margin: 0 auto;
}

.svgbox2 img{
    width:100%; 
    height:100%;
    position: relative;
    right: -25px;
    top: 0;
    /* background-color:brown; */
}

.textbox2{
    flex: 2;
    /* background-color:lime; */
    margin: 0 auto;
}
.textbox2 h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    padding-top: 45px;
    text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202);
    padding: 50px 50px;
    /* background-color:blue; */
    font-size: 2.5rem;
    /* font-weight: 500; */
}

.textbox2 h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* margin-top: 2rem; */
    /* text-align: center; */
    padding: 0px 50px;
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
}

.div1{
    display: flex;
    align-items:center;
    text-align: center;
    justify-content: center;
    width: 90vw;
    height: 70vh;
    /* background-color:brown; */
    margin: 10px auto;
}

.bigger-tools{
    flex: 1.5;
    width: 80vw;
    height: 90%;
    /* background-color:yellow; */
    margin: 10px auto;
    /* padding-top: 2rem; */
}

.bigger-tools h1{
    font-family: 'Montserrat', sans-serif;
  /* font-family: 'Nunito', sans-serif; */
    /* font-family: arial; */
    font-weight: 900;
    font-size: 3rem;
    line-height: 1;
    text-align: left;
    padding-top: 45px;
    margin: 1rem 0.5rem;
    /* background-color:blue; */
    text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202);

    /* font-size: 2.5rem; */
    /* font-weight: 500; */
}

.bigger-tools h4{
    line-height: 1;
    margin: 0rem .5rem;
    text-align: left;
    /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
    /* margin-right: 7rem; */
    /* padding-top: 45px; */
}

.inner-tools{
    padding-left: 7rem;
    flex: 2.5;
    /* background-color: #00ffaa; */
    height: 90%;
    
}

.tools1{
    display: flex;
    gap: 1.8rem;
}

.tools2{
    display: flex;
    margin-top: 1.9rem;
    gap: 1.9rem;
}

.svgtools{
    width: 11.5rem;
    height: 11rem;
    background-color: #00000080;
    border-radius: 5px;
    /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
}

 .svgtools img{
        width:100%;
        height:80%;
    }

.carouselbox{
    width: 90vw;
    height: 50vh;
    /* background-color:greenyellow; */
    margin: 0 auto;
    margin-top: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.carousel{
    /* position: absolute; */
    display: flex; 
    align-items:center;
    justify-content: center;
    width: 95%;
    height: 98%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.carouselcard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items:center;
    /* gap: 1.5rem; */
    margin: 0 1rem;
    /* flex: 2; */
    /* background-color:lime; */
    /* margin: 0 auto; */
    /* width: 95%; */
    height: 98%;
    /* background-color:violet; */
    outline: 1px solid #00ffaa;
    border-radius: 20px;
}

.carouselsvg img{
    /* flex-direction: column; */
    /* color: #ac29fe; */
    padding-top: 10px;
    width: 250px;
    height: 140px;
    /* background-color: #000; */
    /* height: fit-content; */
    /* cursor: pointer; */
}

.carouselcard h3{
    text-align: justify;
    margin: 1rem 0;
}

.carouselcard p{
    text-align: center;
    margin:0 1rem;

}




.sponsorDiv{
    width: 60vw;
    height: 60vh;
    /* background-color:purple; */
    /* padding-top: 2rem;    */
    margin: 2rem auto 25rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
    outline: 1px solid limegreen !important;
    outline: 1px solid #00ffaa !important;
    border-radius: 15px;

}

.sponsorDiv h2{
    margin: 2rem;
}

.sponsors{
    display: flex;
    flex: 1.3;
    align-items:center;
    justify-content: center;
    width: 75%;
    height: 95%;
    /* background-color:black; */
    margin: 0 auto;
    /* padding: 5px auto; */
}

.sponsors-middle{
    display: flex;
    flex: 1.3;
    align-items:center;
    justify-content: center;
    width: 75%;
    height: 95%;
    /* background-color:black; */
    margin: 0 auto;
    padding: 0 3rem;
    /* padding: 5px auto; */
}

.projects{
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    /* flex:1.25; */
    width: 10rem;
    height: 80%;
    /* background-color:blue; */
}

.projects:hover{
    text-shadow: 0 0 8px rgba(200, 138, 209, 0.976), 0 0 2px rgb(173, 125, 202);
    -webkit-transition: all 0.2s ease;
}

/* .projects2{
    width: 10rem;
    align-items:center;
    justify-content: center;
    height: 100%;
    background-color:brown;
} */

.css-ev1hfs{
    flex-direction: column;
    width: 50px;
    height: 40px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
}

.css-ev1hfs:hover{
    text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202);
    -webkit-transition: all 0.2s ease;
}

.projects label{
    /* font-size: 5px; */
    font-family: 'Montserrat', sans-serif;
    margin-top: 2px;
    font-weight: 800;
    font-size: 0.7rem;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
    /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */

    /* -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; */
}




/* For Phone Screens */
@media screen and (max-width:767px){
    nav{
        /* font-family: 'Nunito', sans-serif; */
          width: 100%;
          height: 3.5rem;
          /* border-bottom: 2px solid #000; */
          padding: 0 20px;
          display: flex; 
          font-weight: 0;
          /* overflow: auto; */
          justify-content: space-between;
          align-items:center;
          padding-right: 100px;
          background-color: #dba5fc;
          background-color: #fff;
          background-color: #45016f;
          color: #fff;
          outline: none;
          box-shadow: none;
          border-bottom-width: 0.1px;

          /* left: -100%;
transition: all .5s; */
      }
      
      nav .logo{
          /* font-family: 'Gruppo', cursive; */
          font-family: 'Montserrat', sans-serif;
          font-size: 1.3rem;
          letter-spacing: 3px;
          font-weight: 400;
          cursor: pointer;
          display: flex;
          align-items: center;
      }
      
      .logo a{
          color: #fff;
          text-decoration: none;
      }
      
      .pangolin-icon{
          /* width:100%;  */
          height:4.1rem;
      }
      

    .parent-intro{
        width: 90vw;
        height: 5vh;
        margin-top: 1rem;
    }
    
    .pangolin-intro{
        font-size: 1rem;
        height: 100%;
    }
    
    .bigbox{
        /* position: absolute; */
        /* box-sizing: border-box; */
        width: 100vw;
        height: 55vh;
        /* background-color:greenyellow; */
        margin: 0 0;
        padding-top: 0rem;
    }
    
    .innerbox{
        /* position: absolute; */
        display: flex; 
        /* flex-wrap: wrap; */
        flex-direction: column;
        width: 90%;
        height: 95%;
        /* background-color:black; */
        margin: 0 1rem;
    }
    
    .textbox{
        flex: 2;
        position:relative;
        left: 0px;
        /* background-color:lime; */
        margin: 0 auto;
    }

    .textbox h1{    
        font-size: 1.5rem;
        padding-top: 30px;
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
        /* background-color:blue; */
    }
    
    .textbox h4{
        font-size: 1rem;
        margin: 0 1rem 0 0;
        margin-top: 2rem;
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
    }

    .svgbox{
        /* background-image: url("svg\ files/poddle.svg"); */
        background-size: 18rem;
        background-position: 30px 0;
        z-index: -1;
        /* display: flex; */
        width: 100vw;
        /* margin-left: 13rem;
        padding-left: 0rem; */
        /* background-color: #00ffaa; */
        background-repeat: no-repeat;
        position:relative;
        right: 0px;
        flex: 4;
        margin: 0 auto;
    }
    
    .svgbox img{
        width:82%; 
        height:110%;
        position: relative;
        top: -35px;
        /* padding-left: 3rem; */
    }
    



    /* svg #a0e0cd86-b941-48b5-9b90-57a3fa3d34f6{*/
    .bigbox2{
        display: flex;
        /* position: absolute;  */
        width: 90vw;
        height: 90vh;
        /* background-color:yellow; */
        margin: 15rem auto 0;
        /* padding-top: 2rem; */
    }

    .innerbox2{
        /* position: absolute; */
        display: flex; 
        flex-direction: column-reverse;
        width: 90%;
        height: 99%;
        /* background-color:black; */
        /* margin: 0 auto; */
        /* padding: 5px auto; */

        margin: 0 1rem;
    }

    .svgbox2{
        /* background-color:brown; */
        width: 70vw;
        position:relative;
        right: 0px;
        margin: 0 auto;
    }

    .svgbox2 img{
        width:100%; 
        height:90%;
        position: relative;
        right: 0px;
        top: 0;
        /* background-color:brown; */

    }
    
    .textbox2{
        flex: 2;
        /* background-color:greenyellow; */
        margin: 0 auto;
    }
    .textbox2 h1{
        font-size: 1.5rem;
        padding-top: 30px;
        margin: 0 auto;
        text-align: center;
        /* line-height: 1; */
        padding: 30px 0px;
    }

    .textbox2 h4{
        /* margin-top: 2rem; */
        /* background-color:lime; */
        padding: 0px 30px;
        text-align: center;
    }

    .div1{
        display: flex;
        flex-direction: column;
        align-items:center;
        text-align: center;
        justify-content: center;
        width: 100vw;
        height: 70vh;
        /* background-color:brown; */
        margin: 10px auto;
    }
    
    .bigger-tools{
        width: 80vw;
        height: 90%;
        margin: 10px auto;
        /* background-color:brown; */
    }
    
    .bigger-tools h1{
        font-size: 2rem;
        text-align: center;
        padding-top: 25px;
        /* background-color:blue; */
        text-shadow: 0 0 32px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202);
    
        /* font-size: 2.5rem; */
        /* font-weight: 500; */
    }
    
    .bigger-tools h4{
        line-height: 1;
        margin: 0rem .5rem;
        text-align: center;
        /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
        /* margin-right: 7rem; */
        /* padding-top: 45px; */
    }
    
    .inner-tools{
        padding: 0rem;
        flex: 2.5;
        align-items:center;
        margin: 0 auto;
        /* background-color: #00ffaa; */
        height: 90%;
        
    }
    
    .tools1{
        display: flex;
        margin: 0 auto;
        gap: .7rem;
        /* background-color: #00ffaa; */

    }
    
    .tools2{
        display: flex;
        margin-top: 1.3rem;
        gap: .7rem;
    }
    
    .svgtools{
        /* font-size: 1rem; */
        width: 7rem;
        height: 10rem;
        background-color: #00000080;
        border-radius: 5px;
        /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
    }    

    .svgtools img{
        width:100%;
        height:75%;
    }

    .carouselbox{
        width: 90vw;
        height: 30vh;
        /* background-color:greenyellow; */
    }

    .carouselbox::-webkit-scrollbar{
        width: 0px;
    }
    
    .carousel{
        width: 95%;
        height: 98%;
        /* background-color:black; */
        overflow-x: auto;
    }
    
    .carouselcard{
        margin: 0 0.4rem;
        /* background-color:lime; */
        min-width:  45%;
        height: 98%;
    }
    
    .carouselcard:first-child{
        margin-left: 20rem;        
    }
    
    .carouselsvg img{
        padding-top: 10px;
        width: 90px;
        height: 90px;
    }
    
    .carouselcard h3{
        margin: .5rem 0 .5rem;
    }
    
    .carouselcard p{
        margin:0 .5rem;
    }
   
    .sponsorDiv{
        width: 90vw;
        height: 40vh;
        /* background-color:purple; */
        margin: 0rem auto 25rem;
        border-radius: 15px;
    }
    
    .sponsorDiv h2{
        margin: 2rem;
    }
    
    .sponsors{
        width: 100%;
        height: 100%;
        padding-bottom: 0rem;
        /* background-color:black; */
    }

    .sponsors-middle{
        width: 75%;
        height: 95%;
        /* background-color:black; */
        margin: 0 auto;
        padding: 0 0rem;
    }
    
    
    .projects{
        width: 10rem;
        height: 100%;
        /* background-color:blue; */
    }
    
    .css-ev1hfs{
        width: 35px;
        height: 30px;
    }
    
    .projects label{
        font-size: 0.4rem;
    }
    
}  




/* For Tablet Screens */
@media screen and (min-width:768px) and (max-width:1023px)  {

    .parent-intro{
        width: 90vw;
        height: 4vh;
        margin-top: 1rem;
    }

    .pangolin-intro{
        font-size: 1.5rem;
        height: 100%;
    }
    
    
    .pangolin{
        color: #ac29fe;
    }
    
    .bigbox{
        /* box-sizing: border-box; */
        width: 100vw;
        height: 32vh;
        /* background-color:greenyellow; */
        margin: 0 0;
        padding-top: 0rem;
    }
    
    .innerbox{
        /* position: absolute; */
        display: flex; 
        width: 90%;
        height: 90%;
        /* background-color:black; */
        margin: 0 auto;
        /* padding: 5px auto; */
    }
    
    
    
    .textbox{
        flex: 2;
        /* width: 50%; */
        position:relative;
        left: 0px;
        /* background-color:lime; */
        margin: 0 auto;
    }
    .textbox{
        /* font-weight: 900;
      font-size: 5rem; */
        flex: 2;
        position:relative;
        /* background-color:lime; */
        margin: 0 auto;
    }
    .textbox h1{    
        font-size: 1.5rem;
        padding-top: 30px;
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
        /* background-color:blue; */
    }
    
    .textbox h4{
        font-size: 1rem;
        margin: 0 1rem 0 0;
        margin-top: 2rem;
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
    }


    .svgbox{
        /* flex: 1; */
        /* background-image: url("svg\ files/poddle.svg"); */
        background-size: 19rem;
        background-position: 25px 0;
        z-index: -1;
        /* display: flex; */
        /* width: 50%; */
        /* margin-left: 0rem;
        padding-left: 0rem; */
        /* background-color: #00ffaa; */
        background-repeat: no-repeat;
        position:relative;
        right: 0px;
        /* flex: 4; */
        margin: 0 auto;
    }

    .svgbox img{
        width:80%; 
        height:60%;
        position: relative;
        top: 60px;
        /* padding-left: 5rem; */
    }
    

    

    .bigbox2{
        width: 90vw;
        height: 30vh;
        /* background-color:yellow; */
        margin: 0px auto;
        /* padding-top: 2rem; */
    }
    
    .innerbox2{
        /* position: absolute; */
        display: flex; 
        width: 100%;
        height: 90%;
        /* background-color:black; */
        margin: 0 auto;
        /* padding: 5px auto; */
    }
    
    .svgbox2{
        flex: 2;
        margin: 0 auto;
        /* position:relative; */
        /* right: 70px; */
    }
    
    .svgbox2 img{
        width:100%; 
        height:80%;
        position: relative;
        right: 0;
        top: 40px;
        /* background-color:brown; */
    }
    
    .textbox2{
        flex: 2;
        margin: 0 auto;
        /* background-color:lime; */
    }

    .textbox2 h1{
        padding-top: 45px;
        padding: 50px 0px 10px;
        /* background-color:blue; */
        font-size: 1.5rem;
    }
    
    .textbox2 h4{
        margin-top: .8rem;
        /* text-align: center; */
        padding: 0px 10px;
    }


    .div1{
        width: 90vw;
        height: 30vh;
        /* background-color:brown; */
        margin: 10px auto;
        
    }
    
    .bigger-tools{
        /* flex: 1.5; */
        /* flex: 2; */
        width: 60%;
        height: 50%;
        /* background-color:yellow; */
        margin: 10px auto;
        /* padding-top: 2rem; */
    }
    
    .bigger-tools h1{
        font-size: 1.5rem;
        line-height: 1;
        text-align: left;
        padding-top: 45px;
        padding-top: 0px;
        margin: 1rem 0.5rem;
        /* background-color:blue; */
    
        /* font-size: 2.5rem; */
        /* font-weight: 500; */
    }
    
    .bigger-tools h4{
        line-height: 1;
        margin: 0rem .5rem;
        text-align: left;
        /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
        /* text-shadow: 0 0 80px rgba(200, 138, 209, 0.976), 0 0 32px rgb(173, 125, 202); */
        /* margin-right: 7rem; */
        /* padding-top: 45px; */
    }
    
    .inner-tools{
        padding-left: 0rem;
        margin: 0;
        padding: 0;
        /* flex: 2.5; */
        /* flex: 1.5; */
        width: 40%;
        height: 90%;
        /* background-color: #00ffaa; */
        
    }
    
    .tools1{
        display: flex;
        gap: 0.6rem;
    }
    
    .tools2{
        display: flex;
        margin-top: 1rem;
        gap: .6rem;
    }
    
    .svgtools{
        width: 9rem;
        height: 10rem;
        background-color: #00000080;
        border-radius: 5px;
        /* text-shadow: 0 0 80px rgba(2, 27, 61, 0.976), 0 0 32px rgb(2, 26, 85); */
    }

    .svgtools img{
        width:100%;
        height:80%;
    }    
    
    .carouselbox{
        width: 100vw;
        height: 25vh;
        /* background-color:greenyellow; */
    }
    
    .carousel{
        width: 95%;
        height: 95%;
        /* background-color:black; */
    }
    
    .carouselcard{
        margin: 0 .3rem;
        min-width: 20%;
        height: 98%;
        /* background-color:violet; */
    }
    
    .carouselsvg img{
        width: 220px;
        height: 120px;
    }
    
    .carouselcard h3{
        margin: .7rem 0;
    }
    
    .carouselcard p{
        text-align: center;
        margin:0 .5rem;
    
    }

    .sponsorDiv{
        width: 80vw;
        height: 40vh;
        /* background-color:purple; */
    }    

}
/* and (max-width:1023px){ */
